html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: maroon;
  box-sizing: border-box;
  overflow-y:scroll;
}

.container-fluid {
  background: white;
  border-bottom: 5px solid gold;
  padding: 0;
  height: 600px;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

.note-textarea, .note-title {
  color: maroon;
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  color: #882929b0;
  resize: none;
  padding-top: 15px;
  height: 375px;
  font-size: 1.5rem;
}

.note-title {
  height: 55px;
  font-size: 3rem;
}


.left-container {
  min-width: 400px;
  height: 100%;
  border-top: none;
  border-bottom: none;
  background: gold;
  padding: 0;
  border-right: 4px solid gold;
  /* border-left: 5px solid gold; */
  overflow-y: scroll;
}

i {
  font-size: 1.1rem;
}

.list-group-item {
  border-left: none;
  border-right: none;
  margin: 0;
  margin-bottom: 8px;
  border-radius: 0 !important;
  width: 99%;
  border: 2px solid black;
  border-left: none;
}

.list-group-item:hover {
 /* border-right: 5px solid maroon; */
 box-shadow: 5px 5px 0px 0px maroon;
}

.list-group-item:last-child, p:last-child {
  padding-bottom: 10px;
  margin-bottom: 0;
}

/* --------------- */
.navbar {
  background: maroon;
  border-bottom: 5px solid gold;
}

.navbar-brand {
  letter-spacing: 10px;
  font-size: 22px;
  padding-left: 20px; 
}

.navbar a {
  color: white;
}

.list-group-item:hover, .list-group-item:focus {
  z-index: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

hr {
  margin: 8px 0;
}

.delete-note {
  z-index: 5;
}

.list-group {
  z-index: 0;
}

.col-8 {
  height: 100%;
}


.right-container {
  padding: 30px;
}

.saved {
  display: inline;
  color: white;
  font-size: 1.5rem;
  margin-right: 12px;
  visibility: hidden;
}

.jumbotron {
  outline: 5px solid gold;
  background: white;
  border-radius: 0;
}